body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gameboard {
    background-color: black;
    border: 5px solid black;
    display: flex;
    height: calc(var(--rowcount) * 60px);
    /* grid-template-rows: repeat(12, 2fr); */
    width: calc(var(--pegcount) * 100px);
    grid-template-columns: repeat(4, 2fr) 4fr repeat(4, 1fr) 2fr;
    position: relative;
    z-index: 0;
    --pegcount: 4;
    --rowcount: 12;
    order: 1;
    margin: 0 10px;
}

/* 
.board {
    display: grid;
    background-color: black;
    height: 100%;
    width: 75%;
    float: left;
    z-index: 1;
} */

#pegNumber {
    width: 3em;
    height: 1.5em;
}

#instructions {
    height: 710px;
    width: 300px;
    border: 5px solid black;
    margin: 0;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    background-color: lightgray;
    opacity: 0.5;
    z-index: 0;
    order: 0;
}

#instructionsText {
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    #instructions {
        width: 90%;
        font-size: 1.5em;
        height: auto;
        align-items: flex-end;
    }

    .gameboard {
        clear: left;
        position: relative;
    }
}

.pegCount {
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 10px;
    width: auto;
    height: 1em;
    position: relative;
    order: 2;
}

input {
    width: 3em;
}

#pegCountButton {
    border: 1px solid grey;
    padding: 0px;
    color: grey;
    background-color: rgb(228, 220, 223);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    width: auto;
}

#pegs {
    display: grid;
    grid-template-columns: repeat(var(--pegcount), 60px);
    grid-template-rows: repeat(var(--rowcount), 60px);
}

.pegs {
    background-color: white;
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    z-index: 2;
}

/* .pinboard {
    display: grid;
    background-color: black;
    height: 100%;
    width: 25%;
    float: right;
    z-index: 1;
} */


#pins {
    display: grid;
    grid-template-columns: repeat(var(--pegcount), 20px);
    grid-template-rows: repeat(20px auto);
    float: right;
    margin: 10px;
}

.pins {
    background-color: white;
    height: 20px;
    width: 20px;
    margin: 10px;
    float: right;
    border-radius: 50%;
    z-index: 1;
}

.correctpin {
    background-color: green;
    height: 20px;
    width: 20px;
    margin: 10px;
    float: right;
    border-radius: 50%;
    z-index: 2;
}

.submit {
    width: 200px;
    height: 50px;
    border: 5px solid black;
    margin: 0 auto;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    color: black;
    background-color: lightgray;
    opacity: 0.5;
}
#Reset {
    width: 200px;
    height: 50px;
    border: 5px solid black;
    margin: 0 auto;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    color: black;
    background-color: lightgray;
    opacity: 0.5;
    order: 2;
}
@media only screen and (max-height: 900px) {
    .gameboard {
        height: calc(var(--rowcount)*50px);
    }

    #pegs {
        grid-template-columns: repeat(var(--pegcount), 50px);
        grid-template-rows: repeat(var(--rowcount), 50px);
    }

    .pegs {
        height: 30px;
        width: 30px;
        margin: 1px;
    }

    .pins {
        height: 15px;
        width: 15px;
        margin: 10px;
    }

    .submit {
        margin-top: 5px;
    }
}
